* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: url("images/bg-pattern-top.svg");
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #19A1AD;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.profile-card {
    width: 90%;
    max-width: 450px;
    background: white;
    text-align: center;
    border-radius: 16px;    
}

.cover-pic {
    display: block;
    border-radius: 16px;
    width: 100%;
}

.profile-pic {
    width: 140px;
    border-radius: 50%;
    margin-top: -5rem;
    border: 15px;
}

.profile-card h1 {
    font-weight: 600;
}

.profile-card p {
    padding: 15px ;
    color:#777
}

.row {
    display: flex;
    justify-content: space-around;
    padding: 10px;

}

.row h2 {
    font-weight: 700;
    font-size: 28px;
    margin: 5px 0;
}

.row p{
    color: #777;
    font-size: 14px;
}